<!DOCTYPE html>
<html>
<meta name="_csrf_header" content="X-CSRF-TOKEN">
<meta name="_csrf" content="your-csrf-token-value">

<head>
    <title>coding test</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body class="is-preload">
    <script src="lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/utilKw.js"></script>
    
    <div class="buttonDiv" style="display: none;">
        <input type="text" id="x1"/>
        <input type="text" id="x2"/>
        <input type="text" id="x3"/>
        <input type="text" id="x4"/>
        <button id="test_1">test_1</button>
    </div>
    
    <div class="buttonDiv" style="display: none;">
        <input type="text" id="a"/>
        <input type="text" id="b"/>
        <input type="text" id="c"/>
        <input type="text" id="d"/>
        <button id="test_2">test_2</button>
    </div>
    
    <div class="buttonDiv" style="display: none;">
        <input type="text" id="my_string"/>
        <input type="text" id="index"/>
        <button id="test_3">test_3</button>
    </div>
    
    <div class="buttonDiv" style="display: none;">
        <button id="test_4">test_4</button>
    </div>
    
    <div class="buttonDiv" style="display:none;">
        <button id="test_5">test_5</button>
    </div>
    
    <div class="buttonDiv" style="display:none;">
        <button id="test_6">test_6</button>
    </div>
    
    <div class="buttonDiv" style="display:none;">
        <button id="test_7">test_7</button>
    </div>
    
    <div class="buttonDiv" style="display:none;">
        <button id="test_8">test_8</button>
    </div>
    
    <div class="buttonDiv" style="display:none;">
        <button id="test_9">test_9</button>
    </div>
    
    <div class="buttonDiv" style="display:none;">
        <button id="test_10">test_10</button>
    </div>
    
    <div class="buttonDiv" style="display:none;">
        <button id="test_11">test_11</button>
    </div>
    
    <div class="buttonDiv" style="display:none;">
        <button id="test_12">test_12</button>
    </div>
    
    <div class="buttonDiv" style="display: none;">
        <button id="test_13">test_13</button>
    </div>
    
    <div class="buttonDiv" style="display: none;">
        <button id="test_14">test_14</button>
    </div>
    
    <div class="buttonDiv" style="display: none;">
        <button id="test_15">test_15</button>
    </div>
    
    <div class="buttonDiv" style="display: none;">
        <button id="test_16">test_16</button>
    </div>
    
    <div class="buttonDiv" >
        <button id="test_17">test_17</button>
    </div>
    
    <div class="buttonDiv" >
        <button id="test_">test_</button>
    </div>
</body>

</html>